/*
*
* BASE
* Headings.............H1–H6 styles
* Subheadings..........Subheading styles outside
* .....................the document outline
* Text.................Paragraphs, ems, b, etc
*
* OBJECTS
* Wrappers.............Wrapping and container elements
*
* COMPONENTS
* Buttons..............Button elements
*
* ANIMATION
* Pulse................Shrink and expand pulsing
*
* RESPONSIVE
* Breakpoints..........960, 640, 560, 480
*
*/

/********/
/* BASE */
/********/

/* Headings */
/************/

	.main-nav__logo {
		display: inline;
		font-size: 1.3em;
		margin: 0 .6em 0 1.5em;
	}

	.testimonial__heading {
		color: #2f373d;
		font: 300 3em/1.9 "Open Sans", sans-serif;
		text-align: center;
	}

	.features__heading {
		color: #2f373d;
		font: 300 3em/.1 "Open Sans", sans-serif;
		text-align: center;
	}

	.bottom-cta__heading {
		color: #2f373d;
		font: 300 3em/.1 "Open Sans", sans-serif;
		text-align: center;
	}

/* Subheadings */
/***************/

	.main-nav__subhead {
		display: inline;
		font-size: .8em;
		padding-top: 6px;
		margin: 0 ;
	}

	.features__subhead {
		font-size: .9em;
		text-align: center;
	}

	.bottom-cta__subhead {
		text-align: center;
	}

/* Text */
/********/

	.testimonial__quote {
		font: 400 1.8em/1.5 'Josefin Slab', serif;
	}

	.testimonial__quote b {
		color: #8da5b7;
	}

	.features__link {
		text-decoration: none;
		color: rgb(85, 99, 110);
	}

	.main-footer__contact-link {
		float: left;
		font-size: 1em;
		margin: 0 1.5em;
		color: rgb(157, 171, 178);
	}

/************/
/* WRAPPERS */
/************/

	body {
		background-color: rgb(226, 236, 241);
	 	color: rgb(85, 99, 110);
	 	font: 400 1em 'Open Sans', sans-serif;
	 }

	.home {
		padding-bottom: 50px;
	}

	.main-nav {
		background-color: rgba(226, 236, 241, 0.9);
		border-bottom: 1px dashed rgb(56, 66, 70);
		height: 40px;
		left: 0;
		margin: 0;
		padding: 1em 0 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.testimonial {
		line-height: 1.25em;
		margin: 0 auto;
		padding-bottom: 50px;
		padding-top: 60px;
	}

	.testimonial__responsive-video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.testimonial__responsive-video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.features-bgfill {
		background-color: #eaf1f5;
		padding: 40px 0;
	}

	.features {
		margin: 0 auto;
	}

	.features__items {
		margin: 0;
	    -webkit-columns: 440px;
  		-moz-columns: 440px;
  		columns: 440px;
  		padding: 0;
		-webkit-column-gap: 2em;
  		-moz-column-gap: 2em;
		column-gap: 2em;
	}

	li {
		list-style: none;
		text-align: left;
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
	}

	.features__item--manage {
		background-image: url("../img/features__item-manage.jpg");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.features__item--appointment {
		background-image: url("../img/features__item-appointment.gif");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.features__item--cloud {
		background-image: url("../img/features__item-cloud.gif");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.features__item--photos {
		background-image: url("../img/features__item-photos.gif");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.features__item--themes {
		background-image: url("../img/features__item-themes.gif");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.features__item--cta {
		background-image: url("../img/features__item-cta.png");
		background-size: 440px 275px;
		background-repeat: no-repeat;
		padding: 280px 0 30px;
		font-size: 1.3em;
	}

	.bottom-cta {
		width: 960px;
		margin: 0 auto;
		padding: 40px 0 50px;
	}

	.main-footer {
		background-color: rgba(56, 66, 70, .9);
		border-top: 1px solid rgb(52, 61, 65);
		bottom: 0;
		height: 30px;
		padding: 8px 0 0;
		position:fixed;
		width: 100%;
	}

/**************/
/* COMPONENTS */
/**************/

	.pink-button {
		background-color: rgb(255, 36, 102);
		color: rgb(255, 255, 255);
		height: 66px;
		text-align: center;
		text-decoration: none;
	}

	.cta-button {
		border-radius: 10px;
		display: block;
		font: 700 1.5em 'Open Sans', sans-serif;
		line-height: 66px;
		margin: 0 auto;
		width: 280px;
	}

	.thin-button {
		border-radius: 4px;
		display: inline-block;
		font: 700 .7em 'Open Sans', sans-serif;
		height: 26px;
		line-height: 26px;
		position: absolute;
		right: 26px;
		width: 90px;
		}


/**************/
/*  ANIMATION */
/**************/

	.pulse {
		animation-name: pulse;
		-webkit-animation-name: pulse;

		animation-duration: 1.5s;
		-webkit-animation-duration: 1.5s;

		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}

	@keyframes pulse {
		0% {
			transform: scale(0.8);
			opacity: 0.9;
		}

		50% {
			transform: scale(1);
			opacity: 1;
		}

		100% {
			transform: scale(0.8);
			opacity: 0.9;
		}
	}

	@-webkit-keyframes pulse {
		0% {
			-webkit-transform: scale(0.9);
			opacity: 0.9;
		}
		50% {
			-webkit-transform: scale(1);
			opacity: 1;
		}
		100% {
			-webkit-transform: scale(0.9);
			opacity: 0.9;
		}
	}

/**************/
/* RESPONSIVE */
/**************/

/* 960 */
/*******/

	@media (min-width: 960px) {

		.testimonial, .features {
			width: 960px;
		}
	}

	@media (max-width: 960px) {

 		.features, .testimonial {
 			width: 640px;
 		}

 		.testimonial__heading {
			font: 300 2.5em/1.9 "Open Sans", sans-serif;
		}

		.features__heading {
			font: 300 2.5em/.1 "Open Sans", sans-serif;
		}

		.features__items {
		    -webkit-columns: 300px;
	  		-moz-columns: 300px;
	  		columns: 300px;
			-webkit-column-gap: 1.5em;
	  		-moz-column-gap: 1.5em;
			column-gap: 1.5em;
		}

		.features__item--manage,
		.features__item--appointment,
		.features__item--cloud,
		.features__item--photos,
		.features__item--themes,
		.features__item--cta {
			background-size: 300px 188px;
			padding: 195px 0 30px;
			font-size: 1em;
		}
 	}

/* 640 */
/*******/

	@media (max-width: 640px) {

		.testimonial, .features {
			width: 560px;
		}

		.testimonial__quote {
			font: 400 1.6em/1.3 'Josefin Slab', serif;
		}

		.features__items {
		    -webkit-columns: 260px;
	  		-moz-columns: 260px;
	  		columns: 260px;
			-webkit-column-gap: 1em;
	  		-moz-column-gap: 1em;
			column-gap: 1em;
		}

		.features__item--manage,
		.features__item--appointment,
		.features__item--cloud,
		.features__item--photos,
		.features__item--themes,
		.features__item--cta {
			background-size: 260px 163px;
			padding: 170px 0 30px;
			font-size: .85em;
		}
	}

/* 560 */
/*******/

	@media (max-width: 560px) {

		.testimonial, .features {
			width: 480px;
		}

		.testimonial__heading {
			font: 300 2em/1.7 "Open Sans", sans-serif;
		}

		.testimonial__quote {
			font: 400 1.5em/1.2 'Josefin Slab', serif;
		}

		.features__heading {
			font: 300 2em/.1 "Open Sans", sans-serif;
		}

		.features__items {
			padding-left: 20px;
			-webkit-columns: 440px;
			-moz-columns: 440px;
			columns: 440px;
		}

		.features__item--manage,
		.features__item--appointment,
		.features__item--cloud,
		.features__item--photos,
		.features__item--themes,
		.features__item--cta {
			background-size: 440px 275px;
			padding: 280px 0 30px;
			font-size: 1.3em;
		}
	}

/* 480 */
/*******/

	@media (max-width: 480px) {

		.testimonial, .features {
			width: 320px;
		}

		.testimonial__heading {
			font: 700 1.2em/1.5 "Open Sans", sans-serif;
		}

		.testimonial__quote {
			font: 400 1em/1.2 'Josefin Slab', serif;
		}

		.features__heading {
			font: 700 1.2em/.1 "Open Sans", sans-serif;
		}

		.main-nav__subhead {
			display: none;
		}

		.features__items {
			padding-left: 20px;
			-webkit-columns: 300px;
			-moz-columns: 300px;
			columns: 300px;
		}

		.features__item--manage,
		.features__item--appointment,
		.features__item--cloud,
		.features__item--photos,
		.features__item--themes,
		.features__item--cta {
			background-size: 300px 188px;
			padding: 195px 0 25px;
			font-size: 1em;
		}
	}
