/*
*
* BODY
* Header................Nav styling.
* Testimonial...........Video and quote styling.
*
*/

/* BODY */
/********/
	body {
		background-color: #eaf1f5;
	 	color: rgb(85, 99, 110);
	 	font: 400 1em 'Open Sans', sans-serif;
	 }

	.home {
		padding-top: 30px;
		padding-bottom: 50px;
	}

/* NAVIGATION */
/**************/

	.main-nav {
		background-color: rgba(226, 236, 241, 0.9);
		border-bottom: 1px dashed rgb(56, 66, 70);
		height: 40px;
		left: 0;
		margin: 0;
		padding: 1em 0 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

		.main-nav__buttons {
			position: absolute;
			right: 16px;
		}

		.main-nav__logo {
			float: left;
			font-size: 1.3em;
			margin: 0 1.5em;
		}

		.main-nav__cta-button {
			font-size: .8em;
			margin: 0 1.5em;
		}

/* CONTAINERS */
/***************/

	.home-container {

		}

	/* TESTIMONIAL */
	/***************/

		.testimonial {
			background-color: rgb(226, 236, 241);
			line-height: 1.25em;
			padding: 30px;
		}

			.testimonial__video-heading {
				font-size: 0;
				visibility: hidden;
			}

			.testimonial__video-jenni {
				display: block;
				margin: 0 auto;
				width: 560px;
			}

			.testimonial__quote-heading {
				font-size: 0;
				visibility: hidden;
			}

			.testimonial__quote-sophia {
				font: 400 1.8em 'Josefin Slab', serif;
			}

			.testimonial__cta-button {
				background-color: rgb(255, 36, 102);
				border-radius: 10px;
				color: rgb(255, 255, 255);
				display: block;
				font: 700 1.5em 'Open Sans', sans-serif;
				height: 80px;
				line-height: 76px;
				margin: 0 auto;
				text-align: center;
				text-decoration: none;
				width: 240px;
			}

		.feature-list {


		}

		.feature-request {


		}

/* FOOTER */
/**********/
	.main-footer {
		background-color: rgba(56, 66, 70, .9);
		border-top: 1px solid rgb(52, 61, 65);
		bottom: 0;
		height: 60px;
		left: 0;
		position:fixed;
		right: 0;
		width: 100%;
	}

		.main-footer__paragraph {
			float: left;
			font-size: 1em;
			margin: 0 1.5em;
		}

		.main-footer__cta-button {
			float: right;
			font-size: .8em;
			margin: 0 1.5em;
		}
