$color-darkblue: #2f373d;

	.testimonial__heading {
		color: $color-darkblue;
		font: 300 3em/1.9 "Open Sans", sans-serif;
		text-align: center;
	}

	.features__heading {
		color: $color-darkblue;
		font: 300 3em/.1 "Open Sans", sans-serif;
		text-align: center;
	}

